<h1>Coach's answer</h1>

<%= link_to "Haz una nueva pregunta", ask_path %>

<div class="asd p-3">
  <div class="callout">
    <h1><%= @ask %></h1>
  </div>
  <div class="callout" id="answer">
    <h1><%= @answer %></h1>
  </div>
</div>
